$firstColor: rgb(0, 195, 255);
$secondColor: rgb(255, 0, 51);
$thiredColor: rgb(255, 217, 0);
$fourthColor: rgb(229, 55, 245);
$backgroundGradiant: linear-gradient(45deg, $firstColor 12.50%, $secondColor 12.50%, $secondColor 25%, $thiredColor 25%, $thiredColor 37.50%, $fourthColor 37.50%, $fourthColor 50%, $firstColor 50%, $firstColor 62.50%, $secondColor 62.50%, $secondColor 75%, $thiredColor 75%, $thiredColor 87.50%, $fourthColor 87.50%, $fourthColor 100%);
$mainColor: #fff;
$textColor: #000;
$spaceOut: 2rem;