@import "_variables";
@import "_mixin";

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header section {
    min-height: 100vh;
    min-height: 100svh;
    background-image: $backgroundGradiant;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        align-self:normal;
        font-size: $spaceOut;
    }
    div {
        color: $mainColor;
        text-align: center;
        position: relative;
        h1, p {
            font-size: calc($spaceOut*5);
            position: relative;
            z-index: 2;
            text-transform: uppercase;
        }
        p{
            font-size: calc($spaceOut*4);
        }
        &:nth-of-type(2) {
            align-self: end;
            color: $textColor;
            
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            background-color: $thiredColor;
            border-radius: 100%;
            position: absolute;
            z-index: 0;
            top: -100px;
            right: -100px;
            font-size: calc($spaceOut);
            color: #000;
        }
    }
}

main section:nth-of-type(1) {
    @include content(row);
}
main section:nth-of-type(2) {
    @include content(row-reverse);
}


footer {
    background-image: $backgroundGradiant;
    text-align: center;
    padding: $spaceOut;
    a {
        padding: $spaceOut;
        color: white;
    }
}



