* {
    color: white;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
    "header header header header"
    "sideX main main main "
    "footer footer footer footer";
    gap: 10px;
    height: 100vh;
}

header {
    background-color: blue;
    grid-area: header;
}

main {
    background-color: rgb(255, 0, 217);
    grid-area: main;
}

aside {
    background-color: green;
    grid-area: sideX;
}

footer {
    background-color: yellow;
    grid-area: footer;
}