section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
}


.animation > div > div:nth-of-type(1){animation: blink 2000ms linear infinite;}
.animation > div > div:nth-of-type(2){animation: blink 1000ms linear infinite;}
.animation > div > div:nth-of-type(3){animation: blink 500ms linear infinite;}
.animation > div > div:nth-of-type(4){animation: blink 250ms linear infinite;}
.animation > div > div:nth-of-type(5){animation: blink 125ms linear infinite;}

@keyframes blink {
    0% {background-color: #000;}
    100% {background-color: #fff;}
}