section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation div {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    transition: all 1s;
    transform-origin: bottom left;
}

.animation div:hover{
    transform: rotate(90deg) scale(2);
}