* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5rem;
}

section {
    width: 100vw;
}
h1 {
    font-size: 5rem;
    font-weight: 100;
    margin: 0 0 0 2%;
}

p {
    margin: 0 0 0 2%;

}


.pets {
    border: 1px solid #000;
    width: 60%;
}
.pets > ul  {
    font-size: 1.8rem;
}