@font-face {
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'lato', Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    height: 8vh;
}

header div {
    display: flex;
    align-items: center;
    width: 10%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}
header a {
   color: rgba(0,0,0,.8);
   margin: 0 0 0 0.5em;
}

main {
    padding-top: 8em;
    background-color: #D9E8E5;
}
.bilder {
    min-height: 100vh;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h2 {
    width: 100%;
    margin: 0 auto 0.5em auto;
}
.bilder article {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
}

.bilder div {
    position: relative;
}

.bilder div p{
    position: absolute;
    bottom: 10px;
    right: 7px;
}

